@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 13px;
    font-weight: bold;
    border-radius: 1px;
    padding: 0px;
    margin: 0;
}

window#waybar {
    background-color: alpha(@background, 0.9);
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
    color: @foreground;
}

#workspaces button.active {
    color: @color4;
}

#workspaces button.empty {
    color: @color8;
    opacity: 0.5;
}

/* --- Global Module Styling --- */
#memory, #cpu, #battery, #clock, #pulseaudio, #custom-brightness, 
#bluetooth, #network, #mpris, #tray, #disk, #custom-expand-icon,  
#custom-caffeine, #custom-media {
  background-color: transparent;                                 
  padding: 5px 8px;                                              
    margin: 2.5px;                                                 
    border-radius: 1px;                                            
    min-width: 18px;                                               
    min-height: 24px;                                              
}

/* --- Active State Colors --- */
#custom-caffeine.active,
#bluetooth.connected,
#custom-media.active,
#bluetooth.on,
#network.wifi,
#network.ethernet,
#network.linked,
#pulseaudio:not(.muted),
#battery,
#battery.good {
    color: @foreground;
}

/* --- Inactive State Colors --- */
#custom-caffeine.inactive,
#bluetooth.disabled,
#bluetooth.off,
#network.disconnected,
#network.disabled,
#custom-media.inactive,
#pulseaudio.muted {
    color: @color8;
}

/* --- Battery Specific Overrides --- */
#battery.warning {
    color: @color3;}

#battery.critical {
    color: transparent;
}
#tray menu {
    background-color: @background;
    color: @foreground;
}

#tray {
    /* These match your other modules */
    padding: 5px 8px;
    margin: 2.5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
